<!DOCTYPE html>
<html>
    <head>
        <title> Simple HTML Doc</title>
        <!-- Link the css file to html file. -->
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    </head>

    <body>
        <h1>Welcome!</h1>
        <!-- Collect information from users -->
        <form id="nameForm">
            <label for="fname"> Name: </label>
            <input type="text" id="fname" name="fname">
            <!-- The `submitButton` class will be used in the CSS file to apply consistent styling to all buttons with this class.-->
            <button class="submitButton" type="submit" value="Submit">Submit</button>
        </form>

        <!-- Javascript in script tags -->
        <script>
            const form = document.getElementById('nameForm');

            //on submit, we can change the behavior of the webpage
            form.addEventListener('submit', function(event){
                //prevents the default action, doesn't need to refresh the page.
                event.preventDefault();
                //references the 'fname' id and gets its value.
                const name = document.getElementById('fname').value;
                console.log(`Thank you, ${name.trim()}!`);
            });

        </script>

    </body>
</html>